*{
    margin: 0;
    padding:0;
}
.all-content .content-wrap
{
    padding: 10px 10px 40px 20px;
    line-height: 1.5;
    letter-spacing: 0.005em;
    
}
.address {
	background-color: #20202db8;
	color: white;
    padding: 10px 0 0 20px;
}

  
.address .name p {
	font-size: 26px;
	line-height: 23px;
    
}
.address .name  .edu {
	font-size: 15px;
	line-height: 23px;
    padding: 0 0 0 9px;
}
.address .name img{
    width: 10%;
    padding: 5px 0 0 10px;
}
.details
{
    padding: 10px 0 30px 20px;
    background-color: #201f1f29;
}
.details li
{
    list-style: inside;
}
.details h3
{
    
    text-decoration-line: underline;
    
}